- content_for :page_title do
  = "Edit a language in HMCTS Form finder"

.grid-row
  .column-full

    = render partial: 'layouts/header', locals: { page_heading: t('language.edit') }

= render 'form'
