- content_for :page_title do
  = "Add a language to HMCTS Form finder"

.grid-row
  .column-full

    = render partial: 'layouts/header', locals: {page_heading: 'Document languages'}

    %h2.heading-medium
      Add a language

= render 'form'
