- content_for :page_title do
  = "Edit a user in HMCTS Form finder"

.grid-row
  .column-full

    = render partial: 'layouts/header', locals: {page_heading: 'User accounts'}

    %h2.heading-medium
      Edit a user

= render 'form'
