- content_for :page_title do
  = "Add a user to HMCTS Form finder"

.grid-row
  .column-full

    = render partial: 'layouts/header', locals: {page_heading: 'User accounts'}

    %h2.heading-medium
      Add a user

= render 'form'
