#global-header .header-wrapper {
  .header-proposition {
    padding-left: 1em;
  }
  .sign-out {
    color: #ffffff !important;
    display: block;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@include media(desktop) {
  .header-global {
    @include span(4 of 12);
    .header-logo {
      width: auto;
      .content {
        margin-left: 0;
      }
    }
  }
  .header-proposition {
    @include span(7 at 5 of 12 no-gutters);
    .sign-out {
      display: inline;
      float: right;
      font-size: 19px;
    }
  }
}

.error-summary-list {
  margin-top: 10px;
}

.notice-summary {
  background-color: $turquoise;
  border-color: $turquoise;
  color: $page-colour;
  text-align: center;
}
