#global-header .header-wrapper {
  .header-global {
    @include span(4 of 12);
    .header-logo {
      width:auto;
      .content {
        margin-left: 0;
      }
    }
  }
  .sign-out {
    color: #ffffff !important;
    float: right;
    padding-right: 1.2em;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .header-proposition {
    @include span(7 at 6 of 12 no-gutters);
    @include media(mobile) {
      padding-left: 1em;
    }
  }
}

#proposition-name{
  float: left;
}

.form-label,
.gov_uk_date legend {
  font-weight: bold;
}
