header.main-header {
  @include container;
  margin-bottom:$gutter;
  h1{
    @include span(8 of 12);
    @include first;
    @include heading-48;
    font-weight: 700;
  }

}

.confirmation-header {
  @include span(8 of 12);
  @include first;

  background-color: $turquoise;
  color: $white;
  text-align: center;
  padding-top: $gutter * 2;
  padding-bottom: $gutter * 2;
  margin-bottom: $gutter;
  margin-top: $gutter ;

  .normal{
    margin-bottom: $gutter-half;
    margin-top: $gutter-half;
  }
}


.confirmation-tick {
  width: 36px;
  height: 36px;
}
