%nav{ id:'admin-navigation' }
  %ul
    %li
      = link_to "Documents", Document
    %li
      = link_to "Categories", Category
    %li
      %a{ href: '#' }
        Languages
      -#= link_to "Languages", Languages
    %li
      %a{ href: '#' }
        Links
      -#= link_to "Links", Links
    %li
      %a{ href: '#' }
        Sort order
      -#= link_to "Sort", Sort
    %li
      %a{ href: '#' }
        Types
      -#= link_to "Types", Types
    %li
      = link_to "Users", User
