.phase-banner
  %p
    This is a new service – your
    = link_to t('link.feedback'), 'https://docs.google.com/forms/d/12m3d-h6NavrlItKA_ynWifEq0QqGDfwnEdPmGX8zwx0/viewform'
    will help us to improve it.

    =#You can
    =# link_to t('link.report_fault'), new_feedback_path(type: 'bug_report')
