#admin-navigation ul {
  border-bottom-color: $border-colour
}
#admin-navigation ul li.active {
  background-color: $grey-2
}
#admin-navigation ul li a {
  color: $text-colour
}
#admin-navigation ul li a:hover {
  background-color: $grey-3
}
.button-warning {
  @include button($red)
}

body {

  #global-header .header-wrapper {
    .header-global,
    .header-proposition {
      display: inline-block
    }

    .header-global {
      float: none;
      margin-left: 1em;
      margin-right: 1em;
      width: 264px
    }

    .header-proposition {
      padding-top: 10px;
      width: 66%;
      .sign-out {
        padding-right: 1em
      }
    }

  }

  #admin-navigation ul {
    border-bottom: 1px solid;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

    li {
      display: inline-block;

      a {
        display: inline-block;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none
      }
    }

  }

  @media screen and (max-width: 568px) {

    #admin-navigation ul {
      li {
        display: block
      }
    }

  }

}

.form-group p {
  margin-bottom: 0;

  .form-hint{
    margin-bottom: 5px;
  }

}

.strong {
  font-weight: 600
}