hr {
  clear: both;
}

.attributes {
  &:after {
    content: ")";
  }
  &:before {
    content: "(";
  }
}

.section {
  border-bottom: 1px solid $border-colour;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.title {
  display: block;
}

.top {
  margin-top: $gutter-half;
  float: right;
}

@include media(desktop) {
  .edit-link {
    float: right;
    position: relative;
    bottom: 15px;
  }
}
