body {

  #global-header .header-wrapper {

    .header-global,
    .header-proposition {
      display: inline-block
    }

    .header-global {
      float: none;
      margin-left: 1em;
      margin-right: 1em;
      width: 264px
    }

    .header-proposition {
      padding-top: 10px;
      width: 66%;
      .sign-out {
        padding-right: 1em
      }
    }
  }

  #admin-navigation ul {
    border-bottom: 1px solid #bfc1c3;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

    li {
      display: inline-block;

      a {
        color: $text-colour;
        display: inline-block;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none
      }

      a:hover {
        background-color: $grey-3
      }
    }

    li.active {
      background-color: $grey-2
    }
  }

  @media screen and (max-width: 568px) {
    #admin-navigation ul {
      li {
        display: block
      }
    }
  }

  .button-warning {
    @include button($red);
  }
}
