- content_for :page_title do
  = "Add a category to HMCTS Form finder"

= render partial: 'layouts/header', locals: {page_heading: 'Document categories'}

.grid-row
  .column-two-thirds

    %h2.heading-medium
      Add a new category

    = render 'form'

  .column-one-third