= render partial: 'layouts/header', locals: {page_heading: 'Categories management'}

.grid-row
  .column-two-thirds

    %h2.heading-medium
      Add a new category

    = render 'form'

  .column-one-third