- content_for :page_title do
  = "Edit a type in HMCTS Form finder"

= render partial: 'layouts/header', locals: {page_heading: 'Document types'}

.grid-row
  .column-two-thirds

    %h2.heading-medium
      Edit a type

    = render 'form'

  .column-one-third