- content_for :page_title do
  = "Add a document type to HMCTS Form finder"

= render partial: 'layouts/header', locals: {page_heading: 'Document type management'}

.grid-row
  .column-two-thirds

    %h2.heading-medium
      Add a new document type

    = render 'form'

  .column-one-third